@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #202020;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
